.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}

.item9 {
  background: mistyrose;
/*  width: 500px;*/
/*  grid-column: span 2;*/
/*  grid-column: span 3;*/
  grid-column: span 10;
  grid-row: span 2;
}
